nav img.navbar-brand{
    width: 100px;
}
nav.navbar{
    background-color: #F7F7F7;
    box-shadow: 0 2px 10px 2px rgba(0,0,0,0.1);
}
ul.nav li{
    transition: color 200ms ease-in-out;
}
ul.nav li:hover{
    color: darkgray;
}
ul.nav li:not(:last-child){
    margin-right: 15px;
}
nav.navbar ul.nav a.nav-link{
    background: 
    linear-gradient(to right, rgba(100, 200, 200, 1), rgba(100, 200, 200, 1));
    background-size: 0 0.1em;
    background-position: 0 100%;
    background-repeat: no-repeat;
    transition: background-size 400ms;
}

nav.navbar ul.nav a.nav-link:hover,
nav.navbar ul.nav a.nav-link:focus {
    background-size: 100% 0.1em;
}