<div class="container">
    <ng-container class="search">
        <app-country-search-form [countries]="countries" (countryEvent)="setCountry($event)"></app-country-search-form>
        <app-city-search-form [cities]="cities" (cityEvent)="setCity($event)"></app-city-search-form>
    </ng-container>

    <mat-card>
        <mat-card-title>Update sight</mat-card-title>
        <mat-card-content>
            <app-filter [items]="sights" [filteredItems]="sights" [filterFunction]="filterFunction" (filterEvent)="filteredItems = $event"></app-filter>

            <ng-container *ngFor="let sight of filteredItems" class="form-input">
                <h1>
                    {{ sight.name }}
                    <button mat-button (click)="showInput(sight)"><mat-icon>edit</mat-icon></button>
                </h1>
                <ng-container *ngIf="sight != shownUpdate; else formUpdate">
                </ng-container>
            </ng-container>

        </mat-card-content>
    </mat-card>
</div>

<ng-template #formUpdate>
    <form [formGroup]="updateGroup" class="update">

        <h1>-------------</h1>

        <mat-form-field>
            <input
                placeholder="Enter sight name..."
                matInput
                minlength="3"
                formControlName="sight"
            >
            <mat-hint>(3 or more)</mat-hint>
        </mat-form-field>

        <app-country-search-form [countries]="countries" (countryEvent)="setUpdatedCountry($event)"></app-country-search-form>

        <app-country-search-form [countries]="countries" (countryEvent)="setCountry($event)"></app-country-search-form>
        <app-city-search-form [cities]="cities" (cityEvent)="setCity($event)"></app-city-search-form>

        <app-add-images-form [imageSliderBlob]="imageSlider"></app-add-images-form>

        <button mat-button (click)="update()" [disabled]="bisy">Update</button>

        <ng-container>
            <span *ngIf="failed" class="error">Updating failed</span>
        </ng-container>

        <h1>-------------</h1>

    </form>
</ng-template>