<div class="container">
    <mat-card>
        <mat-card-title>Delete</mat-card-title>
        <mat-card-content>
            <form [formGroup]="searchGroup">
                <mat-form-field>
                    <input matInput formControlName="searchCountry" placeholder="Enter country...">
                </mat-form-field>
                <button mat-button (click)="search()">Search</button>
            </form>

            <ng-container *ngFor="let country of filteredCountries" class="form-input">
                <h1>
                    {{ country.name }}
                    <button mat-button (click)="delete(country.id)"><mat-icon>delete</mat-icon></button>
                </h1>
            </ng-container>
            
            <ng-container>
                <span *ngIf="failed" class="error">Deleting failed</span>
            </ng-container>

        </mat-card-content>
    </mat-card>
</div>